@model ModelStateDictionary

<!-- content    -->
<div class="content">
    <!--section   -->
    <section class="hero-section error-section">      
        <div class="container">
            <div class="error-wrap">
               <h4>
                   Email confirmation error
               </h4>
               <div asp-validation-summary="All"> </div>
            </div>
        </div>
    </section>
    <!-- section end  -->
</div>
