@model BlogTask.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Password reset";
}

<!--register form -->
<div class="row">
    <div class="col-md-6 mx-auto login-blogTask">

        <div asp-validation-summary="All" class="text-danger mb-4"></div>
        <h4 class="text-cnter">Forgot your password?</h4>
        <div class="custom-form">

            <form method="post" asp-controller="Account" asp-action="ForgotPassword">

                <dv>
                    <label>Email Address <span>*</span></label>
                    <input asp-for="Email" type="text">                  

                </dv>

                <div class="clearfix"></div>

                <button type="submit" class="log-submit-btn color-bg"><span>Send</span></button>

            </form>

            <div class="">
                Still Remember Your Password?
                <a asp-controller="Account" asp-action="Login">Login here</a>
            </div>
            
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <p>@ViewBag.Message</p>
                }
            
        </div>
    </div>
    <style>

        .login-blogTask {
            margin-top: 180px;
            margin-bottom: 180px;
        }

    </style>
</div>
<!--register form end -->