@model BlogTask.Models.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Password reset";
}

<!--register form -->
<div class="row">
    <div class="col-md-6 mx-auto login-blogTask">

        <div asp-validation-summary="All" class="text-danger mb-4"></div>
        <h4 class="text-cnter">Reset Your Password</h4>
        <div class="custom-form">

            <form method="post" asp-controller="Account" asp-action="ResetPassword">

                <dv hidden>
                    <label>Email Address <span>*</span></label>
                    <input asp-for="Email" type="text">

                </dv>

                <dv>
                    <label>New Password <span>*</span></label>
                    <input asp-for="NewPassword" type="password" placeholder="Enter new password">

                </dv>

                <dv hidden>
                    <label>Token <span>*</span></label>
                    <input asp-for="Token" type="text">

                </dv>

                <div class="clearfix"></div>

                <button type="submit" class="log-submit-btn color-bg"><span>Send</span></button>

            </form>

        </div>
    </div>
    <style>

        .login-blogTask {
            margin-top: 180px;
            margin-bottom: 180px;
        }

    </style>
</div>
<!--register form end -->